USE [master]
GO
/****** Object:  Database [goldsunDB]    Script Date: 6/14/2025 1:37:07 PM ******/
CREATE DATABASE [goldsunDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'goldsunDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\goldsunDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'goldsunDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\goldsunDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [goldsunDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [goldsunDB]
GO
/****** Object:  Table [dbo].[user]    Script Date: 6/14/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id_user] [char](36) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[pass] [nvarchar](255) NOT NULL,
	[avatar] [nvarchar](255) NULL,
	[time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[user] ([id_user], [email], [pass], [avatar], [time]) VALUES (N'14d115d1-e6b1-460d-81a3-54758990a477', N'TUNG', N'1', N'/images/avatar/1749882258283_ccc.png', CAST(N'2025-06-14T06:23:59.727' AS DateTime))
INSERT [dbo].[user] ([id_user], [email], [pass], [avatar], [time]) VALUES (N'1D3D7B8A-3B89-4696-B632-D63152689703', N'user5@example.com', N'123456', N'https://i.pravatar.cc/150?img=5', CAST(N'2025-06-14T09:55:03.927' AS DateTime))
INSERT [dbo].[user] ([id_user], [email], [pass], [avatar], [time]) VALUES (N'2051EA3F-0052-4783-942B-39449A248CB6', N'user1@example.com', N'123456', N'https://i.pravatar.cc/150?img=1', CAST(N'2025-06-14T09:55:03.923' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E6164A23EAC5A]    Script Date: 6/14/2025 1:37:07 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [time]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_all_users]    Script Date: 6/14/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_all_users]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT id_user, email, pass, avatar, time
    FROM [user];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 6/14/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_login]
  @email VARCHAR(255),
  @pass VARCHAR(255)
AS
BEGIN
  SET NOCOUNT ON;

  SELECT TOP 1 *
  FROM [user]
  WHERE email = @email AND pass = @pass;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_register]    Script Date: 6/14/2025 1:37:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_register]
  @id_user CHAR(36),
  @email VARCHAR(100),
  @pass VARCHAR(100),
  @avatar VARCHAR(255),
  @time VARCHAR(50)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM [user] WHERE email = @email)
  BEGIN
    RAISERROR('Email đã tồn tại', 16, 1);
    RETURN;
  END

  INSERT INTO [user] (id_user, email, pass, avatar, time)
  VALUES (@id_user, @email, @pass, @avatar, @time);
END
GO
USE [master]
GO
